   
   <footer>

<div id="foot">
    <div id="agence" class="post_1">
          <h3>TOUTES NOS AGENCES</h3>
          <ul id="ul_agence">
              <li><a>RENNES</a></li>
              <li><a>NANTES</a></li>
              <li><a>VANNES</a></li>
              <li><a>ANGERS</a></li>
              
          </ul>
   </div> 
   
    <div class="logo_reseau post_3">
          <div class="logos_footer"><a href= {{ path('app_home') }}><img class="logo" src={{ asset("./icones_drapeaux/logo-5.png") }}></a></div>
                  
   

          <div id="reseau">
            <div ><a href=""><i class="fa-brands fa-square-facebook fa-2xl" id="ico1"></i>  </a></div>
            <div ><a href=""><i class="fa-brands fa-instagram fa-2xl" id="ico4"></i> </a></div>
             <div ><a href=""><i class="fa-brands fa-twitter fa-2xl" id="ico2"></i> </a></div>
              <div ><a href=""><i class="fa-brands fa-youtube fa-2xl" id="ico3"></i></a></div>
              
         
          </div>

                

    </div>


     <div id="com" class="post_2">
        <ul >
           <li>  <a href="">EVENEMENT ENTREPRISE </a></li>
           <li>  <a href="">MARIAGE </a></li>
           <li>  <a href=""> SEMINAIRE D'ENTREPRISE </a></li>
           <li> <a href="">PARTENAIRES </a></li>
           <li>  <a href=""> CONTACT </a></li>
        </ul>

     </div>

  

    

    

</div>
            <div id="bas">
            <p> &copy; DISCARS ©2024 - TOUS DROITS RÉSERVÉ -
             <a href=""> MENTIONS LÉGALES</a></p></div>
 
               
 
    </footer>
     