 
body{
    background-color: rgb(241, 237, 237);
}

h1{
    color: black;
    text-align: center;
    
}

.container_indicateurs{
    border: 2px solid red;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
 }
 .nombre_commandes, .nombre_voiture, .voitures_sorties, .voitures_auStock{
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 6rem;
    font-weight: bold;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.nombre_commandes{
    background-color: rgb(243, 236, 224);
}
.nombre_voiture{
   
    background-color: rgb(247, 223, 194);
   
}
.voitures_sorties{
   
    background-color: rgb(192, 241, 215);
   
}

.voitures_auStock{
   
    background-color: rgb(217, 215, 245);
    
}
.nombre_voiture h1, .voitures_sorties h1, .voitures_auStock h1, .nombre_commandes h1{
    
    color: black;
 }
.nombre_voiture h4, .voitures_sorties h4, .voitures_auStock h4, .nombre_commandes h4{
   font-size: 18px;
   color: black;
}

 
.container_table {
    height: 30rem;
    overflow: scroll;
   
     
}
 .container_titre .titre{
    background-color: black;
    color: white;
    font-size: 15px ;
    font-weight: bold;
    position: sticky;
    top: 0;
 }
.table td{
    width: 15rem;
    border-width: 0.5px;
    border-style:dashed;
    border-color: rgb(245, 182, 46);
    background-color: antiquewhite;
}
 