/******************************************
                   HEADER 
********************************************/

/* body{
  
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Arial', sans-serif;
  width: 1870px;
   
  

 } */

  

.container_header {
     background-color: black;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1000;
    
}


.nav-links {
      z-index: 1000;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 5rem; 
      
}

.nav-links a{
    
    font-size:17px ;
    text-decoration: none;
}
.menu_accueil, .menu_service, .user, .connexion, .deconnection, .inscrir, .contacte{
    cursor: pointer;
      z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    
    
}

#accueil, #service, .user, .connexion a, .deconnection a, .inscrir a, .contacte a{
  /* color: rgba(3, 230, 255, 0.962); */
  color: white;
  z-index: 1000;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

#accueil:hover, #service:hover, .user:hover, .connexion a:hover, .deconnection a:hover, .inscrir a:hover, .contacte a:hover{
    /* color: rgba(3, 230, 255, 0.962); */
    /* color: #e02b20; */
    color: white;
    font-weight: bold;
    font-size: 18px;
   
    
  
   
}


.menu_accueil, .menu_service  {
     z-index: 1000;
    
    position: relative;
    width: 15rem;
    height: 2rem;
  
} 
 
 

.sous_accueil, .sous_service {
    z-index: 1000;
    background-color: #2b2a2a;
    position: absolute;
    display: none;
    padding-left: 0.5rem;
    height: 12rem;
    width: 12rem;
    top: 1.7rem;
    left: 3.5rem;
    z-index: 100;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}

 
 
.sous_accueil li, .sous_service li{
    list-style: none;
   
    margin-left: 0;
    margin-top: 1rem;
    

}

.sous_accueil li a, .sous_service li a{
 display: flex;
 justify-content: left;
 
 text-decoration: none;
/* color: #e02b20; */
color: white;
}


 
.monMail, .deconnecter, .contacte {
    
    width: 15rem;
    text-align: center;
    height: 2rem;
   
    
} 

 



 
.nav-links .monMail .user{
   text-decoration: none;
    
    color: #e02b20;
    
    
} 


 
.logos {
    cursor: pointer;
    font-size: 1.5em;
    height: 4rem;
    margin-left: 5%;
    margin-bottom:1rem ;
    width: 4rem;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    
}

 
.logos img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 
.burger-menu {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
}   







@media only screen and (min-width: 587px) and (max-width:1200px)  {
    

    
    .container_header{
        display: block;
       width: 100%;
       
      
    }

    .nav-links{
        
        display: none;
        width: 70%;
        
        height: auto;
        margin-left: 6rem;
       

    }

    .nav-links .user{
        margin-left: -0.6rem;
    }
    .menu_accueil, .menu_service, .monMail, .deconnecter, .contacte{
       
        margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
        width: 12rem;
      
    }
    .inscrir{
        margin-top: 0;
    }
    .sous_accueil, .sous_service{
       
      
       
        width: 20rem;
        height: auto;
        margin-top: -2rem;
        margin-left: 4.5rem;
        
    }

    .menu_accueil li, .menu_service li{
        width: 100%;  
         
        
    }
    .menu_accueil li a, .menu_service li a{
          text-align:right;
          color: white;
          font-weight: bolder;
          margin-left: 5rem;
    }

    .burger-menu {
        position: absolute;
        z-index: 100;
        color: white;
        display: block;
        visibility: visible;
        font-size: 40px;
        right: 6rem;
        top:2rem;
        
       
        
    }

    .logos {
     
        font-size: 1.5em;
        height: 4rem;
        margin-left: 4rem;
        width: 4rem;
        margin-bottom:1rem ;
        border-radius: 50% ;
        -webkit-border-radius: 50% ;
        -moz-border-radius: 50% ;
        -ms-border-radius: 50% ;
        -o-border-radius: 50% ;
    }
    .logos img{
        width: 100%;
        margin-left: 6rem;
        height: auto;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
}

@media screen and (max-width: 587px) {
   
    .burger-menu {
        position: absolute;
        z-index: 100;
        color: white;
        display: block;
        visibility: visible;
        font-size: 40px;
         left: 43%;
        top:8rem;
        
       
        
    }

    .container_header{
        display: block;
        
       /* height: 10rem; */
       
       
      
    }

    .nav-links{
        
        display: none;
        width: 70%;
        height: auto;
        margin-left: 2.1rem;
        margin-top: 7rem;
        
        

       

    }

    .nav-links .user{
        margin-left: -1rem;
       
    }
    .menu_accueil, .menu_service, .monMail, .deconnecter, .contacte{
       
        margin-top: 2rem;
        margin-left: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
        width: 10rem;
         
     
    }
    .inscrir{
        margin-top: 0.5rem;
        margin-left: 0rem;
    }
    .menu_accueil #accueil, .menu_service #service, .monMail a, .inscrir a, .deconnecter a, .contacte a{
        font-size: 15px;
    }
    .sous_accueil, .sous_service{
        width: 15rem;
        height: auto;
        
        margin-left: 30%;
        margin-top: -2rem;
    }

    .sous_accueil li a, .sous_service li a{
        font-size: 15px;
        color: white;
    }

    .menu_accueil li, .menu_service li{
        width: 100%;
        margin-left: 2rem;
       
    }

    

    .logos {
     
        font-size: 1.5em;
        height: 4rem;
        margin-left: 6rem;
        width: 4rem;
        margin-bottom:1rem ;
        border-radius: 50% ;
        -webkit-border-radius: 50% ;
        -moz-border-radius: 50% ;
        -ms-border-radius: 50% ;
        -o-border-radius: 50% ;
    }
    .logos img{
        width: 100%;
        margin-left: 6rem;
        height: auto;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
     
}