
/******************************************
                   HEADER 
********************************************/




body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
   
    
  
}

 

.container_header {
    width: 100%;
    
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
    
}


.nav-links {

    width: 60rem;
    display: flex;
    justify-content: left;
    gap: 2rem;
    margin-right: 10rem; 
      
}

.nav-links a{
    
    font-size:20px ;
    text-decoration: none;
}
.menu_accueil, .menu_service, .user, .connexion, .deconnection, .inscrir, .contacte{
    
    text-align: center;
    
}

#accueil, #service, .user, .connexion a, .deconnection a, .inscrir a, .contacte a{
    color: rgba(3, 230, 255, 0.962);
    font-weight: bold;
   
}
.menu_accueil, .menu_service  {
    position: relative;
  
    width: 15rem;
  
} 
 
.sous_accueil, .sous_service {
    position: absolute;
  display: none;
  
    padding-left: 0;
    height: auto;
    width: 18rem;
    top: 1rem;
    left: 2rem;
    z-index: 100;
    padding-bottom: 1rem;
}

.sous_accueil li, .sous_service li{
    list-style: none;
    margin-left: 0;
    margin-top: 1rem;
    
    
   

}

.sous_accueil li a, .sous_service li a{
 display: flex;
 justify-content: left;
 font-weight: bold;
 text-decoration: none;
 color: white;
}


 
.monMail, .deconnecter, .contacte {
   
    width: 15rem;
} 



 
.nav-links .monMail .user{
   text-decoration: none;
    font-weight: bold;
    color: rgb(243, 86, 8);
    
    
} 
 
.logos {
     
    font-size: 1.5em;
    height: 5rem;
    margin-left: 10rem;
    width: 5rem;
  
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}
.logos img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 
.burger-menu {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
}   







@media only screen and (min-width: 578px) and (max-width:1200px)  {
    

    
    .container_header{
        display: block;
       
      
    }

    .nav-links{
        
        display: none;
        width: 70%;
        
        height: auto;
        margin-left: 7rem;
       

    }
    .menu_accueil, .menu_service, .monMail, .deconnecter, .contacte{
       
        margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
        width: 10rem;
      
    }

    .sous_accueil, .sous_service{
       
        width: 20rem;
        height: auto;
        margin-top: -2rem;
        margin-left: 65%;
        background-color: antiquewhite;
    }

    .menu_accueil li, .menu_service li{
        width: 100%;  
    }
    .menu_accueil li a, .menu_service li a{
          text-align: center;
          color: black;
    }

    .burger-menu {
        position: absolute;
        z-index: 100;
        color: white;
        display: block;
        visibility: visible;
        font-size: 50px;
        right: 6rem;
        top:2rem;
        
       
        
    }

    .logos {
     
        font-size: 1.5em;
        height: 5rem;
        margin-left: 4rem;
        width: 5rem;
      
        border-radius: 50% ;
        -webkit-border-radius: 50% ;
        -moz-border-radius: 50% ;
        -ms-border-radius: 50% ;
        -o-border-radius: 50% ;
    }
    .logos img{
        width: 100%;
        margin-left: 6rem;
        height: auto;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
}

@media screen and (max-width: 578px) {
   
    .container_header{
        display: block;
       
      
    }

    .nav-links{
        
        display: none;
        width: 70%;
        height: auto;
        margin-left: 3rem;
       

    }
    .menu_accueil, .menu_service, .monMail, .deconnecter, .contacte{
       
        margin-top: 2rem;
        margin-left: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
        width: 8rem;
     
    }
    .menu_accueil #accueil, .menu_service #service, .monMail a, .deconnecter a, .contacte a{
        font-size: 15px;
    }
    .sous_accueil, .sous_service{
        width: 15rem;
        height: auto;
        background-color: antiquewhite;
        margin-left: 50%;
        margin-top: -2rem;
    }

    .sous_accueil li a, .sous_service li a{
        font-size: 15px;
        color: black;
    }

    .menu_accueil li, .menu_service li{
        width: 100%;
        margin-left: 2rem;
       
    }

    .burger-menu {
        display: block;
        margin-top: 1rem;
        margin-right: 1.5rem;
    }

    .logos {
     
        font-size: 1.5em;
        height: 5rem;
        margin-left: 6rem;
        width: 5rem;
      
        border-radius: 50% ;
        -webkit-border-radius: 50% ;
        -moz-border-radius: 50% ;
        -ms-border-radius: 50% ;
        -o-border-radius: 50% ;
    }
    .logos img{
        width: 100%;
        margin-left: 6rem;
        height: auto;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
     
}