#page_reservation{
    /* border: 2px solid blue; */
    background-color: black;
    width: 100%;
    height: 100vh;
    margin-top: -1rem;
    padding: 0;
  }
#container_reserve{
  /* border: 2px solid rgb(255, 0, 162); */
  
  width: 100%;
  height: 100%;
  margin: 0;
}
#messageAlert .alert h1{
color: white;
}
.formulaire_reserve{
  /* border: 2px solid blueviolet; */
  width: 70%;
  height: 60vh;
  margin-right: 4rem;
  

}
 
.formulaire .erreur{
  color: rgb(7, 7, 7) !important;
  font-size: 20px;
  background-color: rgb(241, 237, 0);
  text-align: center;
  list-style: none;
}

 
  .container_pic_formulaire{
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
  }
  .formulaire{
    width: 45%;
    height: 80vh;
    margin-right: 2rem;
     
    
    /* border: 2px solid yellowgreen; */
     
     
  }
.formulaire h1{
  color: white;
}


 
  .photo{
    width: 50%;
    height: 100%;
  }

  .photo img{
    width: 100%;
    height: 100%;
  }

  .div_centre{
  
  /* border: 2px solid red; */
  width: 50%;
  height: 15vh;
  text-align: center;
  margin-left: 25%;
  
  
}

.div_centre .centre{
  font-size: 30px;
  
  font-family: 'Montserrat';
  color: rgb(254, 85, 7);
}
.div_centre .titre_centre{
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  color: white;
}
  .reserve{
    margin-top: 1.5rem;
    list-style: none;
    font-size: 20px;
    color: white;
  }

  .reserve .res, .fin{
    width: 15rem;
    height: 2rem;
    font-size: 20px;
    color: black;
    background-color: rgb(206, 202, 202);
    border-color: white;
   
    
  }

  .reserve .fin{
    margin-left: 1.8rem;
  }

  .reserve .chek{
     margin-left: 1rem;
  }
  .reserve .marq{
    width: 30rem;
    height: 3rem;
    display: flex;
    text-align: center;
   justify-content: center;
   align-items: center;
    font-size: 20px;
    font-weight: bold;
    
    color: rgb(246, 72, 4);
    background-color: rgb(173, 170, 170);
    
    
 }

  .reserve .boutton{
    width: 15rem;
    height: 3rem;
    cursor: pointer;
    color: black;
    background-color:  rgb(246, 72, 4);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
/*******************************************************************************
                          TABLETTE
**********************************************************************************/
@media screen and (min-width:480px) and (max-width:1200px) {

  #page_reservation{
    /* border: 2px solid blue; */
    background-color: black;
    width: 100%;
    height: 100%;
    margin-top: -1rem;
    padding: 0;
  }
#container_reserve{
  /* border: 2px solid rgb(255, 0, 162); */
  
  width: 100%;
 
  margin-top: 2rem;
}

.formulaire_reserve{
  /* border: 2px solid blueviolet; */
  width: 70%;
  height: 100%;
  margin-right: 4rem;
  

}
   
  .container_pic_formulaire{
    /* border: 2px solid rgb(0, 0, 0); */
    display: block;

    
  }
  .formulaire{
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-top: 2rem;
     
    /* border: 2px solid yellowgreen; */
     
     
  }
.formulaire h1{
  color: white;
  font-size: 100%;
  text-align: center;
}


 
  .photo{
    width: 70%;
    height: 50%;
    margin-left: 15%;
    
  }

  .photo img{
    width: 100%;
    height: 100%;
  }

  .div_centre{
  
  /* border: 2px solid red; */
  width: 50%;
  height: 15vh;
  text-align: center;
  margin-left: 25%;
  
  
}

.div_centre .centre{
  font-size: 30px;
  
  font-family: 'Montserrat';
  color: rgb(254, 85, 7);
}
.div_centre .titre_centre{
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  color: white;
}
  .reserve{
    margin-top: 1.5rem;
    list-style: none;
    font-size: 90%;
    color: white;
  }

  .reserve .res, .fin{
    width: 50%;
    height: 2rem;
    font-size: 100%;
    color: black;
    background-color: rgb(206, 202, 202);
    border-color: white;
   
    
  }

  .reserve .fin{
    margin-left: 2.2rem;
  }
  .reserve .res{
    margin-left: 1rem;
 } 

  .reserve .chek{
     margin-left: 1rem;
  }
  .reserve .marq, .modele{
    width: 50%;
    height: 2rem;
    font-size: 100%;
    font-weight: bold;
    margin-left: 3.7rem;
    color: rgb(246, 72, 4);
    background-color: black;
    border-color: white;
    
 }

  .reserve .boutton{
    width: 15rem;
    height: 3rem;
    cursor: pointer;
    color: black;
    background-color:  rgb(246, 72, 4);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  
}
  