
body {
    
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
   
    
  
}
#one_car{
 
   width: 100%;
   height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 2rem;
   
   
    /* overflow: hidden; */
    
    
    
}

#info{

  
    width: 40%; 
    height: 38rem; 
    margin-left: 2rem;
    
    

}

#groupInfo{
   
    width: 100%;
    
    
    height: 100%;
}

#groupInfo li{
   
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    
   
     
}


#groupInfo li .desc_car{
    font-size: 18px;
    font-weight: bold;
    color:rgb(211, 208, 208);
    width: 100%;
}

 

hr{
   width: 5%;
    /*display: none;
    *//*border-width: 1px;
    */height: 0.3rem;
    margin-top: 0.5rem;
   
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}
 
 
  
.desc_car span{
    font-size: 20px;
    color:rgb(243, 53, 6);
}

#reserver{
   position: absolute;
   z-index: 1000;
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   background-color:  rgb(218, 213, 213);
   width: 15%;
   height: 3rem;
   top: 48rem;
   right: 25rem;
   border-radius: 15px ;
   -webkit-border-radius: 15px ;
   -moz-border-radius: 15px ;
   -ms-border-radius: 15px ;
   -o-border-radius: 15px ;
   transition: 0.5s ease-in-out;
   -webkit-transition: 0.5s ease-in-out;
   -moz-transition: 0.5s ease-in-out;
   -ms-transition: 0.5s ease-in-out;
   -o-transition: 0.5s ease-in-out;
}

#reserver:hover{
    background-color:  rgb(246, 242, 242);
    width: 15.5%;
    height: 3.2rem;
}

a #reserver {
  
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 1rem;
    cursor: pointer;
    


}

#titre_onecar{
    color: white;
    font-size: 30px;
    margin-left: 20%;
    
     
}



/************************************************************************
               PARTIE IMAGE DE LA VOITURE SELECTIONNER
************************************************************************/

#picCar{
 position: relative;
width: 50%;
  
   margin-right: 5rem;
   padding: 0;
    height:60vh; 
    overflow: hidden;
    
    
}

.chevrons{
    position: absolute;
    width: 100%;
    height: 5rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    top: 40%;
    
}
 

.slick-carousel {
  
   margin: 0; 
   padding: 0;
    min-width: 100%;
   
    display: flex;
    /* transition: transform 0.5s ease-in-out; */
}

.picture {
   
    margin: 0;
    padding: 0;
  
    width: 100%;
    height: 60vh;
    display: flex;
    
    flex: 0 0 100%; /* Chaque image occupe 100% de la largeur */
    
    text-align: center;
}

.picture img {
    margin: 0;
    width: 100%;
    min-height: 60vh;
    box-sizing: content-box;
    border-radius: 5px;
}

.fa-chevron-left{
    z-index: 100;
    /* position: absolute; */
    color: rgb(250, 100, 7);
    font-size: 50px;
    font-weight: bold;
    
    /* top: 45%;
    left: 40%; */
    cursor: pointer;
   
}

.fa-chevron-right{
    z-index: 100;
    /* position: absolute; */
    color:rgb(250, 100, 7);
    font-size: 50px;
    /* top: 45%;
    right: 0; */
    cursor: pointer;

}


@media screen and (max-width:587px)  {

    #one_car{
        display: block;
        height: 80rem;
        border: 2px solid blue;
    }

    #info{

        position: relative;
        min-width: 100%; 
        height:35rem; 
        margin-left: 0;
        margin-top: 2rem;
       
    
    }

    #groupInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin: 0;
        
    }
    #groupInfo li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        list-style: none;
        text-align: center;
       
       
       
         
    }
    
    #groupInfo li .desc_car{
        font-size: 12px;
        font-weight: bold;
        color:white;
        width: 70%;
    }
    
    /* hr{
       display: none;
        width: 50%;
      
       
        
        
    } */
    
     
      
    .desc_car span{
        font-size: 20px;
        color:rgb(243, 53, 6)
    }
    
    #reserver{
      position: absolute;
       z-index: 100;
       display: flex;
       justify-content: center;
       justify-items: center;
       align-items: center;
       background-color: rgb(239, 232, 232);
       width: 30%;
       height: 3rem;
       left: 32%;
       top: 65rem;
       
      
       
    }
    
    a #reserver{
      
        text-align: center;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        padding: 1rem;
        
    
    
    }
    
    #titre_onecar{
        color: white;
        font-size: 30px;
        margin-left: 20%;
        
         
    }

/******************************************/

    #picCar{

        width: 100%;
       margin-top: 3rem;
        height: 25rem; 
        overflow: hidden;
        
        /* overflow: hidden; */
    }
     
    
    .slick-carousel {
      width: 100%;
        height: 25rem;
        
        display: flex;
        /* transition: transform 0.5s ease-in-out; */
    }
    
    .picture {
       width: 100%;
       height: 25rem;
        margin: 0;
       
        text-align: center;
        
    }
    
    .picture img {
        
        object-fit: cover;
     
       
        width: 100%;
        height: 25rem;
       
        
    }
    
    .chevrons{
        position: absolute;
        width: 100%;
        height: 5rem;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        top: 28%;
        
    }
    .fa-chevron-left{
        z-index: 100;
        position: absolute;
        color: white;
        font-size: 50px;
        top:100%;
        left: 0;
       
    }
    
    .fa-chevron-right{
        z-index: 100;
        position: absolute;
        color: white;
        font-size: 50px;
      top:100%;
        right: 0;
    
    }
    
}


/******************************************/

@media screen and (min-width:587px) and (max-width:1200px) {
    


    #one_car{
 
 display: flex;
 flex-direction: column;
        width: 100%;
        height: auto;
         gap: 2rem;
         margin-top: 1rem;
        padding-top: 2rem;
         /* overflow: hidden; */
         
         
         
     }
     
     #info{
     
        
         min-width: 100%; 
         height: 90%; 
         
         
         
     
     }
     
     #groupInfo li{
        
         list-style: none;
         
        
          
     }
     
     #groupInfo li .desc_car{
         font-size: 15px;
         font-weight: bold;
         color:white;
         width: 100%;
         text-align: center;
     }
     
     hr{
        display: none;
         width: 50%;
         margin-left: 10%;
        
          
         
     }
     
     
       
     .desc_car span{
         font-size: 20px;
         color:rgb(243, 53, 6)
     }
     
     
     
    
     
     #titre_onecar{
         color: white;
         font-size: 30px;
         margin-left: 20%;
         
          
     }
     
     
     
     /************************************************************************
                    PARTIE IMAGE DE LA VOITURE SELECTIONNER
     ************************************************************************/
     
     #picCar{
      
         width: 80%;
        padding: 0;
       margin-left: 10%;
       margin-top: 2rem;
       margin-bottom: 5rem;
         height: 55vh; 
         overflow: hidden;
         
         
     }
      
     
     .slick-carousel {
       
        margin: 0; 
        padding: 0;
         width: 100%;
         height: 100%;
         display: flex;
         /* transition: transform 0.5s ease-in-out; */
     }
     
     .picture {
        
         margin: 0;
         padding: 0;
       
         width: 100%;
         height: 100%;
         
         flex: 0 0 100%; /* Chaque image occupe 100% de la largeur */
         box-sizing: border-box;
         text-align: center;
     }
     
     .picture img {
         margin: 0;
         width: 100%;
         height: 60vh;
         
         border-radius: 5px;
     }
     

     .chevrons{
        position: absolute;
        width: 100%;
        height: 5rem;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 43%;
        
        
    }
     

     .fa-chevron-left{
         z-index: 100;
       
         color: rgb(246, 95, 8);
         font-size: 65px;
         top: 100%;
         left: 7rem;
        
     }
     
     .fa-chevron-right{
         z-index: 100;
       
         color:rgb(246, 95, 8);
         font-size: 65px;
         top: 100%;
         right: 7rem;
     
     }
     
     #reserver{
        position: absolute;
   z-index: 1000;
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   background-color:  rgb(218, 213, 213);
   width: 10rem;
   height: 3rem;
   top: 76rem;
   left: 40%;
    
   
     }
     a #reserver{
       
        text-align: center;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        color: rgb(9, 9, 9);
        padding: 1rem;
        
    
    
    
    
    }
    
}

