/* body{
    background-color: black;
} */
:root {
    --primary-color: #1a1a1a;
    --secondary-color: #d4af37;
    --accent-color: #c19b30;
    --text-light: #ffffff;
    --text-dark: #333333;
    --text-gray: #666666;
    --bg-light: #f8f9fa;
    --bg-dark: #1a1a1a;
    --border-radius: 12px;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#container__register{
    
    background-image: url("/IMAGES/lotus-exige-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-top: 2rem;
    width: 100%;
    height: 100vh;
    padding-top:5rem ;
    
}

#inscrir__form{
    
  
    width: 70%;
    height: 50vh;
    margin-top: 5%;
    margin-left: 15%;
}
 
table{
    
    width: 100%;
    height: 50vh;
}

 
 

.inscrirs{

    
   width: 50%;
   height: 5vh;
  margin-left: 1rem;
   
}

#inscrir__form tr td .champ{
    
    width: 98%;
    height: 5vh ;
    font-size: 20px;
    font-weight: bold;
    border-color: transparent;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    color: white;
    border-color: var(--accent-color);
}

.labels{
   font-size: 25px;
  
   color: white;
  
    
   

}



.btn{
    cursor: pointer;
    width: 10rem;
    height: 6vh;
    color: white;
    font-size: 150%;
    font-weight: bold;
    background-color: var(--accent-color);
    border-radius: 10% 30%;
    -webkit-border-radius: 10% 30%;
    -moz-border-radius: 10% 30%;
    -ms-border-radius: 10% 30%;
    -o-border-radius: 10% 30%;
    transition:0.5s ease-in-out ;
    -webkit-transition:0.5s ease-in-out ;
    -moz-transition:0.5s ease-in-out ;
    -ms-transition:0.5s ease-in-out ;
    -o-transition:0.5s ease-in-out ;
}

.btn:hover{
    background-color: var(--secondary-color);
    color: black;
}

#titre{
   
    color: var(--secondary-color)!important;
    display: flex;
    justify-content: center;
    font-family  :cursive;
    align-items: center;
    margin-bottom: 2rem;
   background-color: black;
    height: 3rem;
    letter-spacing: 1px;
   
    
}

/* Style pour les erreurs de validation */
.erreurs {
    color: rgb(246, 190, 8); 
    
    font-weight: bold;
    
    
}


@media screen and (min-width: 578px)  and (max-width: 1200px) {
    .labels{
        font-size: 20px;
    }
    #titre{
        font-size: 20px;
    }
}


@media screen and (max-width:578px) {

#container__register{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
}
    #inscrir__form{
   
   
        width: 100%;
        height: auto;
      margin: 0;
        
    }
    .inscrirs{
   
    
        width: 50%;
        height: 5vh;
       margin-left: 1rem;
       float: none;
        
     }
     table{
        width: 100%;
        
     }
     table tr{
        /* display: flex; */
        margin-top: 1rem;
        /* flex-wrap: nowrap;
        justify-content: flex-start; */
        width: 50%;
        float: none;
     }

     #inscrir__form tr td .champ{
    
        width: 100%;
        height: 4vh ;
        font-size: 20px;
        font-weight: bold;
        border-color: transparent;
        color: white;
        border-color: var(--accent-color);
    }

    .labels{
        font-size: 15px;
        margin-left: 1rem;
        font-weight: bold;
        color: white;
       
     }

     .btn{
        width: 10rem;
        height: 6vh;
        color: white;
        font-size: 15px;
        margin-left: 60%;
        font-weight: bold;
        
    }
    
    #titre{
        text-align: center;
        font-size: 20px;
        color: white;
        margin-bottom: 5rem;
       background-color: black;
        height: 2rem;
        padding: 1rem;
    } 
}

 
